@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;500;600;700&display=swap');
.main{
    text-align: center;
    margin: 0 auto;
    /* margin-top: 15%; */
    padding: 5% 0;
    font-family: 'Nunito', sans-serif;
    font-weight: light;
    width: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 2rem;
    position: absolute;
    background: #BDB9FA;
    font-family: 'Roboto Condensed', sans-serif;
    /* height: 200px; */
}


.support-groups{
    min-width: 100%;
}

.sp-1, .sp-2, .sp-3, .sp-4, .sp-5, .sp-6{
    width: 40%;
    margin: 5% auto;
    font-family: 'Roboto Condensed';
    text-decoration: none;
    padding: 5%;
    border: 2px solid black;
    border-radius: 20px;
}

a{
    font-family: 'Roboto Condensed';
    text-decoration: none;
    font-weight: light;
    font-size: 2rem;
    color: white;
}