@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500&display=swap');

.heading{
    text-align: center;
    margin-top: 15%;
    font-family: 'Nunito', sans-serif;
    font-weight: light;
    max-width: 50%;
    font-size: 1.3rem;
}
@media only screen and (max-width:680px) {
    .heading{
        text-align: center;
        margin-top: 100px;
        max-width: 1200px;
        font-size: 4.2vw;
    }
}